.main {
  width: 100%;
}

.heading {
  margin: 0;
  font-weight: 600;
}

.leading {
  margin: 0;
}

.card-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
  margin: 0;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 0;
  text-wrap: nowrap;
}

.row-gap {
  padding: 8px 0;
}

.select {
  width: 150px;
}
