.side {
  flex: 0 0 360px;
  box-shadow: 0px -1px 7px #eee;
  background-color: #fff;
  padding: 200px 24px 24px;
}

.main {
  width: 100%;
}

.heading {
  margin: 0;
  font-weight: 600;
}

.leading {
  margin: 0;
}

.logo {
  height: 32px;
}
