.header {
  padding: 12px 24px;
  background-color: #f6f8fa;
  border-bottom: 2px solid #d4dae1;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #8a8e8e;
}

.logo:hover {
  color: #646565;
}

.profile {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  translate: 0.2s;
}

.profile:hover {
  background-color: #ddd;
}

.icon-button {
  padding: 8px;
  cursor: pointer;
  display: grid;
  place-items: center;
  border-radius: 50%;
  translate: 0.2s;
}

.icon-button:hover {
  background-color: #ddd;
}
